<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT Home</title>
</head>
<body>
    <h1>Welcome to our website</h1>
    <p>Here is the list of clubs and their informations:</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for club in clubs %}
          <tr>
            <td>{{club['name']}}</td>
            <td>{{club['email']}}</td>
            <td>{{club['points']}}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>Do you want to login: <a href="{{url_for('login')}}">Login</a></p>
</body>
</html>